@import "../../theme/variables.scss";

.intro {
  margin-top: 9em;
  margin-bottom: 5em;
}

.masthead {
  .logo {
    $size: 150px;
    height: $size;
    width: $size;
    img {
      height: $size;
      margin: auto;
      margin-top: 1em;
    }
  }
  h1 {
    color: $brand-primary;
  }
  h3 {
    line-height: 1.6em;
    margin-bottom: 1em;
  }
}

.github {
  margin-top: 6em;
}
